* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e4e4e4;
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section{
    display: flex;
    gap: 50px;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 15px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 8px 8px 10px #5353536e;
}

.item-card-btn {
    padding: 10px;
    font-family: Arial;
    border-width: 1px;
    color: #fff;
    border-color: #3866a3;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    text-shadow: inset 0px 1px 0px #7cacde;
    background: linear-gradient(#63b8ee, #468ccf);
    text-decoration: none;
}

.item-card:hover{
    transform: scale(1.1);
    transition: .3s;
}

.item-card-btn:hover{
    background: #03244e;
    transition: .5s;
}

.logo-tienda{
    width: 100px;
}